<%= turbo_stream_from chat %>

<h3 class="text-xl font-semibold mb-4"><%= chat.title %></h3>

<div id="messages_list" class="space-y-4 mb-6">
  <%= render chat.messages %>
</div>

<div id="chat_form">
  <%= render "messages/form", chat: chat %>
</div>
