<div class="w-full h-full max-w-3xl mx-auto p-4">
  <div id="chat_container" class="h-full">
    <% if @chat.persisted? %>
      <%= render "chats/show", chat: @chat %>
    <% else %>
      <%= render "chats/new" %>
    <% end %>
  </div>

</div>
